## Treinamento Aula 2 - Tipos de Variáveis e Medidas

### *Comando utilizados neste treinamento:*
- .astype
- .cat.categories
- .cat.ordered
- .value_counts
- pd.crosstab
- .mean
- .median
- .quantile
- .var
- .std
- .describe

### *Tipos de Variáveis:*
- Variáveis Qualitativas ou Categóricas:
    - Nominal
    - Ordinal
- Variáveis Quantitativas ou Numéricas:
    - Discreta
    - Contínua

### Códigos:

#### Importando Bibliotecas

In [2]:
#Magic Function IPython
%matplotlib inline
#Pandas
import pandas as pd
#Sistema operacional
import os
#Print V2
from IPython.display import display

#### Diretório

In [3]:
print("Esperamos trabalhar no diretório")
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/antonioamaralegydiomartins/Desktop/Antonio amaral/GitHub - Pessoal/CD21-2/aula02

#### Carregando Dados do Arquivo

In [4]:
#Definindo Dados
dados = pd.read_excel("EmpresaTV_Cod.xlsx")
#Checando dados
dados.head(3)

   CLIENTE  PLANO  EC        SATISFACAO  RENDA
0        1      1   1  Muito Satisfeito   21.4
1        2      1   2  Muito Satisfeito   17.2
2        3      1   3  Muito Satisfeito   15.6

#### Variáveis Qualitativas:
- Categórias

In [7]:
#Definindo Variáveis como Categorias
dados["PLANO"] = dados["PLANO"].astype("category")
dados["EC"] = dados["EC"].astype("category")
dados["SATISFACAO"] = dados["SATISFACAO"].astype("category")
#Definindo Variáveis como Float
dados["RENDA"] = dados["RENDA"].astype("float")

Uma vez transformadas as colunas qualitativas em categórias é possivel utilizar o comando `.cat.categories`

In [8]:
#Definindo os tipos de planos
dados["PLANO"].cat.categories = ["A","B"]
#Visualizando resultados
dados["PLANO"].cat.categories

Index(['A', 'B'], dtype='object')

In [10]:
dados["PLANO"]

0     A
1     A
2     A
3     A
4     A
     ..
77    B
78    B
79    B
80    B
81    B
Name: PLANO, Length: 82, dtype: category
Categories (2, object): ['A', 'B']

Agora o comando acima têm seus limites, uma vez que não consegue colocar todos os dados em ordem subjetiva, no caso, por exemplo, de termos avaliações qualitativas como de Satisfação. Para isso será utilizado o comando `pd.Categorical`

In [11]:
#Apresentando o problema, ao lidar com dados Qualitativos
dados["SATISFACAO"].value_counts()

Satisfeito            27
Indiferente           19
Insatisfeito          16
Muito Satisfeito      12
Muito Insatisfeito     8
Name: SATISFACAO, dtype: int64

In [13]:
#Utilizando a formula acima para criar uma lista de categorias
dados["SATISFACAO_ord"] = pd.Categorical(dados.SATISFACAO,
                                        categories = ["Muito Insatisfeito","Insatisfeito","Indiferente","Satisfeito","Muito Satisfeito"],
                                        ordered = True)
#Após organizar os dados, podemos utilizar da Value_Counts para Sort
dados["SATISFACAO_ord"].value_counts(sort = False)

Muito Insatisfeito     8
Insatisfeito          16
Indiferente           19
Satisfeito            27
Muito Satisfeito      12
Name: SATISFACAO_ord, dtype: int64

- Tabela de Frequências

Agora a partir da divisão das colunas em categorias nominais ou ordinais podemos criar tabelas de frequências

In [14]:
dados["PLANO"].value_counts()

A    46
B    36
Name: PLANO, dtype: int64