___
# Exercício: Exploratória para Manipular um DataFrame
___

## Aula 01

## Índice

- [Gapminder](#gap)
- [Exercício 1](#ex1) **- APS1 disponível no Blackboard**
- [Exercício 2](#ex2) **- APS1 disponível no Blackboard**
- [Resumo dos comandos](#resumo-comandos)

___
**IMPORTANTE**: os exercícios marcados com &#x2605;&#x2605;&#x2605; são mais difíceis e vão exigir que você aprenda novas funções do pandas. Recomendamos que vocês tentem fazer esses exercícios mesmo depois da aula.

<div id="gap"></div>

___

## Gapminder

Gapminder é uma fundação sueca independente, sem afiliações políticas, religiosas ou econômicas.
Possui diversas estatísticas socioeconômicas de quase todos países do mundo que podem ser facilmente obtidas por este [link](https://www.gapminder.org/data/).

Para visualizar relações entre alguns indicadores dos países, veja [aqui](https://www.gapminder.org/tools/)

O arquivo `Gapminder.xlsx` contém um *dataset* extraída do software R (mais detalhes [aqui](https://rdrr.io/cran/dslabs/man/gapminder.html)).

Essa base de dados precisa de algumas manipulações antes de iniciar a análise exploratória, entretanto, a mesma irá depender do problema traçado. Nesse *dataframe*, os indicadores estão mensurados para 185 países os quais se repetem entre os anos de 1960 e 2016.

In [2]:
# Importando as bibliotecas necessárias para esta atividade
import pandas as pd
import os

In [3]:
print(f'Esperamos trabalhar no diretório: \n{os.getcwd()}\n')

Esperamos trabalhar no diretório:
/Users/antonioamaralegydiomartins/Desktop/Antonio amaral/GitHub - Pessoal/CD21-2/aula01

In [4]:
filename = 'Gapminder.xlsx'

if filename in os.listdir():
    print(f'Parece que o arquivo {filename} está na mesma pasta do notebook, yay!')
    
else:
    print(f'Não encontrei o arquivo {filename}')

Parece que o arquivo Gapminder.xlsx está na mesma pasta do notebook, yay!

In [5]:
gap = pd.read_excel('Gapminder.xlsx')

Aqui, `gap` é uma variável do tipo `DataFrame`. Cada uma das colunas significa:

- **country**: nome do país;
- **year**: ano;
- **infant_mortality**: mortalidade infantil a cada 1000 nascidos;
- **life_expectancy**: expectativa de vida;
- **fertility**: número médio de filhos por mulher;
- **population**: população do país;
- **gpd**: PIB de acordo com World Bankdev;
- **continent**: continente;
- **region**: região geográfica.

In [6]:
gap.head()

,Unnamed: 0,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
0,1,Albania,1960,115.40,62.87,6.19,1636054.0,NaN,Europe,Southern Europe
1,2,Algeria,1960,148.20,47.50,7.65,11124892.0,1.382815e+10,Africa,Northern Africa
2,3,Angola,1960,208.00,35.98,7.32,5270844.0,NaN,Africa,Middle Africa
3,4,Antigua and Barbuda,1960,NaN,62.97,4.43,54681.0,NaN,Americas,Caribbean
4,5,Argentina,1960,59.87,65.39,3.11,20619075.0,1.083223e+11,Americas,South America

<div id="ex1"></div>

___

### EXERCÍCIO 1

Faça as seguintes manipulações:
 1. Filtre apenas as linhas do ano 2010 e selecione as variáveis: `country`, `gdp`, `population` e `continent`
 1. Guarde o subconjunto anterior em um novo `DataFrame` chamado `gap2010` e, nele, crie a variável `gdp_cap` que contenha o PIB per capita.
 1. Encontre o país com menor PIB per capita em 2010. 
 1. **Preencha o valor do PIB per capita desse país no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: use `gap.dtypes` para saber o tipo de cada variável. Ainda, consulte [aqui](https://cmdlinetips.com/2019/01/3-ways-to-add-new-columns-to-pandas-dataframe/) para entender como criar novas colunas em um *dataframe*.

In [7]:
#1
gap2010 = gap.loc[(gap["year"]==2010,["country","gdp","population","continent"])]
gap2010["GDPCap"] = gap2010["gdp"]/gap2010["population"]
gap2010.sort_values(by="GDPCap", ascending=True)

                 country           gdp  population continent      GDPCap
9287    Congo, Dem. Rep.  6.961485e+09  65938712.0    Africa  105.575083
9276             Burundi  1.158914e+09   9461117.0    Africa  122.492313
9319       Guinea-Bissau  2.443955e+08   1634196.0    Africa  149.550888
9302             Eritrea  7.711169e+08   4689664.0    Africa  164.429026
9373               Niger  2.781188e+09  16291990.0    Africa  170.708926
...                  ...           ...         ...       ...         ...
9315           Greenland           NaN     56546.0  Americas         NaN
9328                Iran           NaN  74253373.0      Asia         NaN
9347               Libya           NaN   6265697.0    Africa         NaN
9370       New Caledonia           NaN    246345.0   Oceania         NaN
9430  West Bank and Gaza           NaN   4068780.0      Asia         NaN

[185 rows x 5 columns]

<div id="ex2"></div>

___

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Faça as seguintes manipulações:
  1. Encontre os cinco maiores países (em tamanho populacional) do ano de 2015;
  1. Guarde apenas os nomes desses cinco países em uma lista;
  1. Considerando a base de dados com todos os anos, filtre as linhas que contenham apenas os cinco países dessa lista e com as colunas  `country`, `year`, `gdp` e `population`. Guarde esse subconjunto em `gap5`;
  1. No `DataFrame` `gap5`, crie a variável `dollar_day`, a qual representa uma *proxy* da renda per capita diária do país;
  1. **Preencha o valor da renda per capita diária de cada país no ano de 1960, em ordem crescente. no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: Para filtrar as linhas apenas dos cinco países selecionados no item 1 deste exercício, pesquise por:
  - `isin`: retorna booleano se conteúdo da variável faz parte ou não de uma lista. Consulte sobre esse comando `isin` [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html)

In [15]:
# Coloque seu código aqui...
gap2015 = gap.loc[(gap["year"]==2015)]
big_5=gap2015.sort_values(by="population",ascending = False)
gap5 = big_5.head(5)
gap5.loc[:,["country","year","gdp","population"]]

             country  year  gdp    population
10209          China  2015  NaN  1.376049e+09
10251          India  2015  NaN  1.311051e+09
10350  United States  2015  NaN  3.217736e+08
10252      Indonesia  2015  NaN  2.575638e+08
10197         Brazil  2015  NaN  2.078475e+08

In [23]:
gap1960 = gap.loc[(gap["population"]==["China","India","United States","Indonesia","Brazil"])]
big_5 = gap1960.sort_values(by="population",ascending = False)
big_5

ValueError: ('Lengths must match to compare', (10545,), (5,))

<div id="resumo-comandos"></div>

## Resumo dos Comandos

Aqui você encontra um resumo dos comandos apresentados neste notebook:

- [`dtypes`](#ex1): mostra o tipo de cada variável do *dataframe*.
- [`isin`](#ex2): avalia, por exemplo, se conteúdo de uma coluna do *dataframe* faz parte ou não de uma lista.